* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  padding: 10px;
}

#newyork {
  background-image: url(../img/ny.jpeg);
}

#kaliningrad {
  background-image: url(../img/Kaliningrad2.jpeg);
}

#roma {
  background-image: url(../img/Roma.jpg);
}

span {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15%;
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-shadow: 2px 2px #000;
  transition-property:: color, text-shadow;
  transition-duration: 1s;
  cursor: pointer;
}

span:hover {
  color: #000;
  text-shadow: 2px 2px #fff;
}
